<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Training_McomWarehouseStockIntegration::warehouse"
         title="Warehouse"
         module="Training_McomWarehouseStockIntegration"
         sortOrder="51"
         resource="Magento_Backend::content"/>
    <add id="Training_McomWarehouseStockIntegration::update_source_stock"
         title="Update Source Stock"
         module="Training_McomWarehouseStockIntegration"
         parent="Training_McomWarehouseStockIntegration::warehouse"
         sortOrder="100"
         resource="Magento_Backend::content"
         action="sourcestock/update" />
  </menu>
</config>